# Ignore virtual environment
venv/
env/

# Ignore database files
*.sqlite3
# PostgreSQL
project/postgres_data/
**/postgres_data/*
!**/postgres_data/.gitkeep  # Optional: keep empty directory structure

# Ignore compiled files
*.pyc
*.pyo
*.pyd

# Ignore logs
*.log